<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Jira Dependency Mapper</title>
        <!--<script type="text/javascript" src="../app/src/javascript/test.js"></script>-->
        <script type="text/javascript" src="/Users/bentleylager/gitWorkspace/DependencyMapper/public/javascripts/test.js"></script>

    </head>
    <body >
       <p>Jira Dependency Mapper Homepage</p>
        <input type="button" onclick= "sayHello()" value="Get Issues"/>
    </body>
</html>